# All activation rounds need to be declared as strings containing valid uint64 numbers. All values will be checked in the
# enableRoundsHandler for correctness. The toml parser library can not correctly parse uint64, currently.

# Each activation round definition contains an optional slice of strings. These are useful, for example, when we have
# some exceptions to process in a different manner at a special round (say a block, a transaction, a smart contract result and such)

# The Options field for each activation round can have some custom array of strings (for using them in exceptions or other use cases)
# Example: Options = ["test string1", "test string 2"]

[RoundActivations]
    [RoundActivations.DisableAsyncCallV1]
        Options = []
        Round = "0"
